namespaceOverride: dev

prometheusOperator:
  enabled: true

prometheus:
  enabled: true
  service:
    type: LoadBalancer
    loadBalancerIP: 192.168.56.239
  prometheusSpec:
    retention: "7d"
    # 不限制 label，Prometheus 会抓取所有 ServiceMonitor，不用再要求必须加 release=xxx
    serviceMonitorSelectorNilUsesHelmValues: false
    # 不限制 PrometheusRule 的 label，所有 PrometheusRule 都会被加载
    ruleSelectorNilUsesHelmValues: false

alertmanager:
  enabled: true
  service:
    type: LoadBalancer
    loadBalancerIP: 192.168.56.237
  alertmanagerSpec:
    replicas: 1

grafana:
  enabled: true
  service:
    type: LoadBalancer
    loadBalancerIP: 192.168.56.238
  adminUser: admin
  adminPassword: "123456"
  defaultDashboardsEnabled: true

nodeExporter:
  enabled: true

kubeStateMetrics:
  enabled: true
