apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-config
  namespace: dev
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush        5
        Daemon       Off
        Log_Level    info

    @INCLUDE input.conf
    @INCLUDE filter.conf
    @INCLUDE output.conf

  input.conf: |
    [INPUT]
        Name              tail
        Path              /var/log/containers/*.log
        Tag               kube.*
        Refresh_Interval  5
        Rotate_Wait       30
        Mem_Buf_Limit     50MB
        Skip_Long_Lines   On
        Parser            cri
  filter.conf: |
      [FILTER]
        Name                kubernetes
        Match               kube.*
        Kube_Tag_Prefix     kube.var.log.containers.
        Merge_Log           On
        Merge_Log_Key       log
        Keep_Log            Off
        K8S-Logging.Parser  On
        K8S-Logging.Exclude On

      [FILTER]
        Name    modify
        Match   kube.*
        
        Rename  kubernetes.namespace_name   kubernetes.namespace
        Rename  kubernetes.pod_name         kubernetes.pod
        Rename  kubernetes.container_name   kubernetes.container
        Copy    kubernetes.container service.name
      [FILTER]
        Name   grep
        Match  kube.*
        Regex  log .
  output.conf: |
      [OUTPUT]
        Name            es
        Match           kube.*
        Host            elasticsearch
        Port            9200
        
        Index           logstash-%Y.%m.%d
        Logstash_Format On
        
        Suppress_Type_Name On
        Replace_Dots       On
        
        Retry_Limit False
