# Nacos 部署配置
replicaCount: 1  # 单节点（测试环境）
image:
  repository: nacos/nacos-server
  tag: v3.0.2
  pullPolicy: IfNotPresent

# 服务类型（LoadBalancer / NodePort / ClusterIP）
service:
  type: LoadBalancer
  loadBalancerIP: 192.168.56.240   # 指定 LoadBalancer IP（需要你的 LB 控制器支持）
  http:
    port: 8080  # Service port number for client-a port.
    protocol: TCP
  server:
    port: 8848
    protocol: TCP

# 资源限制（根据 K3s 节点配置调整）
resources:
  requests:
    cpu: 500m
    memory: 1Gi
  limits:
    cpu: 1000m
    memory: 2Gi

# 持久化配置
persistence:
  enabled: true
  storageClass: "nfs-local"  # k3s 默认存储类
  size: 2Gi

# 数据库配置（外部 MySQL 推荐）
mysql:
  enabled: false
  # 如果你想用内置 MySQL，可设置 enabled: true
  external:
    mysqlMasterHost: "my-mysql.dev.svc.cluster.local"
    mysqlDatabase: "nacos_config"
    mysqlMasterPort: "3306"
    mysqlMasterUser: "root"
    mysqlMasterPassword: "123456"

metrics:
  enabled: true
  serviceMonitor:
    enabled: false