configdb:
  name: apollo-configdb
  host: 192.168.56.80
  port: 30179
  dbName: ApolloConfigDB
  userName: "root"
  password: "123456"
  connectionStringProperties: characterEncoding=utf8&useSSL=false

configService:
  name: apollo-configservice
  replicaCount: 1
  containerPort: 8080
  image:
    repository: 'apolloconfig/apollo-configservice'
    tag: '2.2.0'
    pullPolicy: IfNotPresent

adminService:
  name: apollo-adminservice
  replicaCount: 1
  containerPort: 8090
  image:
    repository: 'apolloconfig/apollo-adminservice'
    tag: '2.2.0'