[mysqld]
secure-file-priv = NULL
#忽略表大小写
lower_case_table_names = 1
#密码验证插件
default-authentication-plugin=mysql_native_password
[client]
default-character-set=utf8mb4
[mysql]
default-character-set=utf8mb4