# ===============================
# KafkaNodePool - Dual Role (1 Node)
# ===============================
apiVersion: kafka.strimzi.io/v1
kind: KafkaNodePool
metadata:
  name: kafka-role
  namespace: dev
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  replicas: 1
  roles:
    - controller
    - broker

  storage:
    type: jbod
    volumes:
      - id: 0
        type: persistent-claim
        size: 10Gi
        class: nfs-local
        deleteClaim: false
        kraftMetadata: shared

  resources:
    requests:
      cpu: 300m
      memory: 768Mi
    limits:
      memory: 1.5Gi



---
# ===============================
# Kafka Cluster (KRaft + MetalLB)
# ===============================
apiVersion: kafka.strimzi.io/v1
kind: Kafka
metadata:
  name: kafka-cluster
  namespace: dev
spec:
  kafka:
    version: 4.1.1
    metadataVersion: 4.1-IV1

    listeners:
      # ===== 集群内部 =====
      - name: internal
        port: 9092
        type: internal
        tls: false

      # ===== 集群外部（MetalLB，1 个 IP）=====
      - name: external
        port: 9094
        type: loadbalancer
        tls: false
        configuration:
          bootstrap:
            annotations:
              metallb.universe.tf/address-pool: ip-pool

    config:
      auto.create.topics.enable: "false"

      default.replication.factor: 1
      min.insync.replicas: 1

      offsets.topic.replication.factor: 1
      transaction.state.log.replication.factor: 1
      transaction.state.log.min.isr: 1

    template:
      pod:
        securityContext:
          fsGroup: 1001

  entityOperator:
    topicOperator: {}
    userOperator: {}


